<aside class="main-sidebar">

    <section class="sidebar">

        <!-- Sidebar user panel -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Navigation</li>
          <li class="treeview active">
            <a href="#"><i class="fa fa-database"></i> <span>Database</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
              <li class="active"><a href="#"><i class="fa fa-indent"></i>Site</a></li>
            </ul>
          </li>
        </ul>        
    </section>
    <div class="footer-info hide">
    </div>
</aside>
